%section.bg-gray-900
  .flex.flex-col.items-center.justify-center.px-4.py-8.mx-auto.lg:py-0
    .w-full.rounded-lg.shadow.border.bg-gray-800.border-gray-700
      .p-6.space-y-4.md:space-y-6.sm:p-8
        %h1.text-xl.text-center.font-bold.leading-tight.tracking-tight.md:text-2xl.text-white
          Edit your profile
        = form_for(@owner, url: update_profile_owners_path, html: { method: :put }) do |f|
          = render "devise/shared/error_messages", resource: @owner
          .flex.flex-row.px-6.md:px-6.pb-0.pt-4.justify-center
            %div.w-full
              .grid.grid-cols-1.md:gap-8.pb-0.px-2.md:px-1.md:grid-cols-2
                .field.block.mb-2.text-sm.font-medium.text-white
                  = f.label :avatar, "Profile Photo"
                  %div.image-icon
                    - if @owner.avatar.present?
                      = image_tag @owner.avatar, class: "img-fluid img-thumbnail w-20 h-20 rounded-full object-cover", style: 'max-width: 25%', id: "imgNew"
                    - else 
                      %img#imgNew.img-fluid.img-thumbnail.w-20.h-20.rounded-full.object-cover{:src => image_path('avatar_placeholder.png')}/
                  = f.file_field :avatar, accept: 'image/png,image/gif,image/jpeg', value: @owner.avatar, id:"imgInp", onchange: "previewImg(event)"

                %div
                  .field
                    .block.mb-2.text-sm.font-medium.text-white
                      = f.label :first_name
                      = f.text_field :first_name, autofocus: true, class: "border sm:text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                  .field
                    .block.mb-2.text-sm.font-medium.text-white
                      = f.label :last_name
                      = f.text_field :last_name, autofocus: true, class: "border sm:text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
          .actions.mt-5
            %button.btn.w-full.text-white.focus:ring-4.focus:outline-none.font-medium.rounded-lg.text-sm.px-5.text-center.bg-primary-600.hover:bg-primary-700.focus:ring-primary-800
              = f.submit "Update profile", class: 'py-2.5', role: "button"

:javascript

  const previewImg = (event) => {
    imgNew.src = URL.createObjectURL(event.target.files[0]);
  } 