%section.bg-gray-900.min-h-screen
  .flex.flex-col.items-center.justify-center.px-4.py-8.mx-auto.lg:py-0
    .w-full.rounded-lg.shadow.border.md:mt-0.sm:max-w-lg.xl:p-0.bg-gray-800.border-gray-700.mb-4
      .p-6.space-y-4.md:space-y-6.sm:p-8
        %h1.text-xl.font-bold.leading-tight.tracking-tight.md:text-2xl.text-white
          .items-center
            - if @pet.avatar.present?
              %a{href: "#", "data-caption" => "Caption Profile Pic", "data-fancybox" => "gallery-profile"}
                = image_tag @pet.avatar, class: "mx-auto w-24 h-24 rounded-full border-gray-600 border-4" 
            - else
              %img.h-24.w-24.rounded-full.border-gray-600.border-4{:src => image_path('dog_paw.png')}/
            .p-5
              %h3.text-xl.font-bold.tracking-tight.text-white
                = @pet.name
                %span.text-base.italic.text-gray-400="(" + @pet.species + ")"
              %span.text-gray-400.text-lg= @pet.breed+ ' |'
              %span.text-gray-400.text-base= pluralize(@pet.age, 'year') + " old"
        - if current_owner == @pet.owner
          .grid.grid-cols-2.justify-items-center 
            %div
              = link_to "edit", edit_pet_path(@pet), {class:"font-medium text-primary-500 hover:underline"}
            %div.text-red-800.font-medium.hover:underline
              = link_to "delete", @pet, method: :delete, data: { confirm: "You sure?" }
    - if current_owner == @pet.owner
      =render "posts/post_form"
    %ol 
      = render @posts