.flex.justify-center.px-4.py-8.mx-auto.lg:py-0
  %aside.w-max.mr-8.md:top-16.top-24.h-min.bg-gray-800.rounded-full.lg:rounded-lg.top-0.sticky.border-gray-700.lg:border
    %div.lg:w-36.py-2.md:overflow-y-auto
      - current_owner.pets.each do |p|
        = form_with(url: select_pet_path, scope: :session, local: true) do |f|
          = hidden_field_tag :pet_id, p.id
          %button.flex.items-center.text-xl.mb-1.font-bold.w-full.hover:bg-gray-600.rounded-lg{class: "#{@pet==p ? "lg:bg-sky-600 lg:hover:bg-sky-700" : ""}"}
            -if p.avatar.present?
              = image_tag p.avatar, class: "img-thumbnail lg:ml-4 lg:mr-2 justify-start w-6 h-6 border-2 border-gray-400 rounded-full object-cover"
            - else 
              %img#imgNew.img-fluid.lg:ml-4.lg:mr-2.img-thumbnail.border-2.border-gray-400.w-6.h-6.mx-1.rounded-full.object-cover{:src => image_path('dog_paw.png')}/
            %span.hidden.lg:inline-block= p.name
            = f.submit ""
  .w-full.rounded-lg.shadow.mt-2.inline-block.sm:max-w-lg.xl:p-0
    = turbo_frame_tag :posts do
      = render @feed_items
    #pager.min-w-full.my-8.flex.justify-between
      %div
        - if @pagy.prev
          = link_to "< Previous page", root_path(page: @pagy.prev), class: "rounded py-3 px-5 bg-gray-600 text-white block hover:bg-gray-800"
      .text-right
        - if @pagy.next
          = link_to "Next page >", root_path(page: @pagy.next), class: "rounded py-3 px-5 bg-gray-600 text-white block hover:bg-gray-800"
