%section.bg-gray-900.min-h-screen
  .flex.flex-col.items-center.justify-center.px-4.py-8.mx-auto.lg:py-0
    %h1.text-white.font-bold.text-4xl.mb-4.mt-10 Welcome to WebPets!
    %a.flex.items-center{:href => '#'}
      %img.mb-3.h-20{:alt => "WebPets Logo", :src => image_path("logo.png")}/
    .w-full.rounded-lg.shadow.border.md:mt-0.sm:max-w-md.xl:p-0.bg-gray-800.border-gray-700
      .p-6.space-y-4.md:space-y-6.sm:p-8
        %h1.text-xl.font-bold.leading-tight.tracking-tight.md:text-2xl.text-white
          Sign in to your account
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          = render "devise/shared/error_messages", resource: resource
          .field
            .block.mb-2.text-sm.font-medium.text-white
              = f.label :email
              = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email", class: "border sm:text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
          .field
            .block.mb-2.text-sm.font-medium.text-white
              = f.label :password 
              = f.password_field :password, :placeholder => "••••••••", autocomplete: "current-password", class: "border sm:text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
          %br/
          .actions
            %button.btn.w-full.text-white.focus:ring-4.focus:outline-none.font-medium.rounded-lg.text-sm.px-5.text-center.bg-primary-600.hover:bg-primary-700.focus:ring-primary-800
              = f.submit "Sign in", class: 'py-2.5', role: "button"
          %p.text-sm.font-light.text-gray-500.dark:text-gray-400.mt-5
            Don't have an account yet?
            = link_to "Sign up", new_registration_path(resource_name), {class:"font-medium text-primary-500 hover:underline"}
